.about {
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: $second-background-color;
}

.about__inner{
    @media screen and (min-width: $tablet) {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.about__wrap{
   text-align: center;

   @media screen and (min-width: $tablet) {
    text-align: left;
    max-width: 450px;
    margin-left: 50px;
   }
}

.about__desc{
    font-size: 17px;
    line-height: 29px;
    color: $text-color;

    &--first{
        margin-bottom: 20px;
    }
}

.about__img {
    text-align: center;
    width: 300px;
    height: 410px;
    margin: 0 auto;

    @media screen and (min-width: $tablet) {
        margin-right: 115px;
    }

    @media screen and (min-width: $desktop) {
        margin: 0;
    }
}


