$accent-color: #f1cdb3;
$white-color: #ffffff;
$nav-color: #cdcdcd;
$text-button-color: #292929;
$text-subtitle-color: #545454;
$text-color: #4c4c4c;
$background-color: #f6f6f6;
$second-background-color: #fafafa;
$black-color: #000000;

$desktop: 1200px;
$tablet: 768px;
$mobile: 480px;